.home {
    display: flex;
}
.informationen {
    display: none;
}
.buchen {
   display: none;
}
h1  {
    font-size: 25px;
    color: #EFF1F3;
}
p {
font-size: 15px;    
}

body {
background-color: #7D80DA;
margin: 0px;
font-family: "Ubuntu", sans-serif;
font-weight: 300;
font-style: normal;   
}
.navi {
background-color: #353531;
padding: 23px;
margin: 0px;
color: #F1FFE7;
text-align: center;
font-size: 20px;
border-bottom: 7px solid #EFF1F3;
}
.content {
display: flex;
}
.leftcontainer {
    padding: 20px;
}
button {
color: #F1FFE7;
background: none;
font-size: 28px;
border-radius: 20%;
border: none;
color: #EFF1F3;
font-family: "Ubuntu", sans-serif;
font-weight: 300;
font-style: normal;    
}
button:hover {
    color: red;  }

