
h1  {
    font-size: 25px;
    color: #EFF1F3;
}

body {
background-color: #7D80DA;
margin: 0px;
}
.navi {
background-color: #353531;
padding: 10px;
margin: 0px;
color: #F1FFE7;
text-align: center;
font-size: 20p;
border-bottom: 7px solid #7D80DA;
}
.content {
padding: 15px;
}
button {
color: #F1FFE7;
background: none;
font-size: 20px;
border-radius: 20%;
boder: none;
color: #EFF1F3;
}

