h1  {
    font-size: 19px;
    color: #353531;
    
}
body {
background-color: #EFF1F3;
margin: 0px;
}
.navi {
background-color: #353531;
padding: 10px;
margin: 0px;
color: #F1FFE7;
text-align: center;
font-size: 20p;
border-bottom: 7px solid #7D80DA;
}
.content {
padding: 15px;
}
button {
color: #F1FFE7;
background-color: #7D80DA;
font-size: 19px;
border-radius: 20%;     
}
body {
background-color: #EFF1F3;
margin: 0px;
} 